<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
<template id="tableTemplate">
    <style>
      /* component styles */
      .adv-table { border: 2px solid black; padding: 20px; margin: 20px; }
    </style>

    <!-- component markup -->
    <div class="adv-table">

    </div>
</template>


<script>
    var ownerDocument = document.currentScript.ownerDocument;

requirejs(['jquery', 'jquery.dataTables'], function ( $ ) {

    // 1. find template
    var template = ownerDocument.querySelector('#tableTemplate');

    // 2. create component object with the specified prototype
    var tablePrototype = Object.create(HTMLElement.prototype);

    // 3. define createdCallback

    $.extend(tablePrototype, {

        createdCallback: function() {
            var root = this;
//            var root = this.createShadowRoot();
            var content = document.importNode(template.content, true);
            var children = $(root).children().detach();
            root.appendChild(content);
            $('.adv-table', root).append(children);
            console.log($('table', root));
            $('table', root).DataTable();
        },
    });


    // 4. register custom element
    document.registerElement('adv-table', {
        prototype: tablePrototype
    });
});
</script>